@charset "UTF-8";
/*文件中有中文字符，就要声明*/
*,::after,::before{box-sizing: border-box;}
/*
 box-sizing:border-box;为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制。通过从已设定的宽度和高度分别减去边框和内边距才能得到内容的宽度和高度。见下方的caption的padding和width受到的影响
 */
*{margin:0;padding:0;}
a:active{outline: 0;}
.container{position: relative;width: 720px;height:436px;display: block;margin: 20px auto 0;}
.container img{width: 100%;height:100%;  -webkit-transition: -webkit-filter 1.5s;}
.container:hover img{-webkit-filter:blur(2px);}
/*
    filter （滤镜属性）
    filter：grayscale(100%)；黑白(100%灰度)
    filter:blur(2px) 图像设置高斯模糊

*/
.container .caption{position: absolute;padding:30px;width: 100%;height:100%;z-index:1;}
.container .caption .title{position: relative;width: 100%;height:100%;text-align: center;display: flex;justify-content: center;  flex-direction: column;visibility: hidden;transition:opacity .5s;opacity:0;text-shadow: 1px 1px 2px rgba(0,0,0,.26);
    /*
    justify-content:center;弹性盒模型下的元素位于容器的中心
    flex-direction:column;弹性盒模型下的元素将垂直排列
    transition:all; 所有属性发生改变
    */
box-shadow: 0px 0px 30px 20px rgba(0,0,0,.46);
}

.container .streamer{font-size: 68px;font-weight: bold;
}
.container .breath{font-size: 15px;color:#3498db;}
.container .streamer{
    background-image: -webkit-linear-gradient(left, #3498db, #f47920 10%, #d71345 20%, #f7acbc 30%, #ffd400 40%, #3498db 50%, #f47920 60%, #d71345 70%, #f7acbc 80%, #ffd400 90%, #3498db);
    /*渐变背景，此处为无缝拼接的渐变，即0%~100%*/
    color: transparent;
    -webkit-text-fill-color: transparent;
   /*文字填充色为透明色*/
    -webkit-background-clip: text;
    /*背景剪裁为文字，相当于用背景填充文字css3新属性*/
    -webkit-background-size:200% 100%;
    /*背景图片向水平方向扩大一倍，这样background-position 才有移动和变化的空间*/
    animation: masked-text 4s infinite linear;
}
@keyframes masked-text{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -100% 0;
    }

}

.container .caption .title::before{content:''; left:0;width:100%;height:0;border:3px solid #fffffb;border-width:0 3px;position:absolute;top:50%;transition: all .5s;visibility: hidden; }
.container .caption .title::after{content:''; left:50%;width:0;border:3px solid #fffffb;height:100%;border-width:3px 0;position:absolute;top:0;transition: all .5s;visibility: hidden; }

.container:hover .title::before{height:100%;top:0px;visibility: visible;}
.container:hover .title::after{width:100%;left:0px;visibility: visible;}
.container:hover .title{visibility: visible;opacity: 1;}
.container:hover .slideIn{
    transform: translate(12px 0px);
}
